<h1>New Post</h1>

<form action="/posts" method="post">
  <%# add form fields %>
    <p>
    <label for="author">Your name</label>
    <input type="text" name="author" id="authore">
  </p>
  <p>
    <label for="body">Your message</label>
    <input type="text" name="body" id="body">
    <label for="image">Add your image</label>
    <input type="text" name="image" id="image">
  </p>
  <button>Submit</button>
</form>
